<h1>Add a New Short URL</h1>
<form method="post" action="/home/create">
    <div class="row" style="margin-top:100px">
        <div class="col-md-4">
            Full URL
        </div>
        <div class="col-md-8 ">
            <textarea id="full_url" name="full_url" rows="15" cols="80"></textarea>
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-12" style="float:right">
            <button type="submit" >Submit</button>
        </div>
    </div>
</form>